body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
}

#introduction {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; 
  text-align: center;
  overflow: hidden;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* play button for story */
#playButton {
  background-color: #4A235A;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  font-family: 'Special Elite', serif;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#playButton:hover {
  background-color: #7D3C98;
}

.button-container {
  position: absolute;
  bottom: 26%;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
}

.responsive-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#story-container {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1.25rem;
  /* border-radius: 0.6rem;  */
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); 
  max-width: 60%; 
  height: 10%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#story-text {
  color: #2C3E50;
  font-family: 'Times New Roman', serif;
  position: relative;
  width: 100%;
  font-size: larger;
  /* font-weight: bold; */
}


#myAudio{
  width: 100%;
}

video{
display: none;}

video::cue {
  color: #ffffff;
  /* border: none; */
  /* xwidth: 100%; */
  align: start;
  background-color: none;
  font-size: 1rem;
  font-family: 'Times New Roman', serif;
}


h1 {
    font-family: 'Georgia', serif;
    font-size: 2.25rem;
    color: #4A235A;
    text-shadow: 0.0625rem 0.0625rem 0.125rem #ccc;
    margin-bottom: 1.25rem;
    background: rgba(255, 255, 255, 0.8); 
    padding: 0.625rem 1.25rem;
    border-radius: 0.5rem;
}


.hide {
    display:none !important;

}
  
.show {
    display: block;
    visibility: visible;
}

/*scroll animation to move text up*/
@keyframes scrollUp {
    0% {
      top: 100%;
    }
    100% {
      top: -100%;
    }
}

#nextPageBtn {
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    background-color: #4A235A;
    color: white;
    font-size: 2.1875rem;
    padding: 1.5625rem 1.875rem;;
    border: none;
    border-radius: 3.125rem;
    cursor: pointer;
    /* display: none; */
    z-index: 100;
}
  
#nextPageBtn:hover {
    background-color: #7D3C98;
}
  
/* #game{
  display: flex;
  flex-direction: column;
} */

#gameRoom{
  /* position: absolute; */
  /* top: 50%; */
  /* display: grid; */
  gap: 0.05rem;
  /* justify-content: center; */
  /* transform: translateX(4%);*/
}

.headerClass {
  display: inline-block;
}

#headerContainer {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}
  
/* stylign yes or no for selected flavor */
#yesOrNoContainer {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(45rem, 0.5fr)); */
  text-align: center;
  /* margin-top: 1rem; */
  font-family: "Special Elite", system-ui;
  color: #000000;
  font-size: 1.1rem;
}

/* styling for Flavors and Room page */
body.flavors-page {
    background: none;  
    background-color: #fff;
}

h2 {
      text-align: center;
      margin-top:  auto;
      margin-bottom: 1em;
      font-size: 2rem;
      font-weight: bold;
}

#container {
      display: grid;
      gap: 1vw;
      justify-items: center;
      width: 100%;
      height: 100%;
}

input[type="checkbox"] {
    margin: 0;
    padding: 0;
    border: none;
    zoom: 1.5;
    display: none;
    /* transform: scale(0.9); */
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.875rem;
  align-self: center;

}

.checkbox-wrapper svg {
  transform: translate(33%, 37%);
}


/* submit button */
.submit-container {
text-align: center;
}


#submit-btn {
  padding: 1vw 2vw;
  font-size: 1.5rem;
  cursor: pointer;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  border: black 1px solid;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* modal for messages display */
#message-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* modal content box styling */
.modal-content {
  background-color: #fff;
  padding: 2.8125rem;
  border-radius: 1.25rem;
  text-align: center;
  width: 25rem;
}

/* style the "Good job" text */
.modal-content p {
  font-size: 2rem;
  font-weight: bold;
  color: #155724;
  margin-bottom: 1.5rem;
  font-family: 'Special Elite', serif;
  font-weight: 400;
  font-style: normal;
}

/* success style for modal content */
.modal-success {
  background-color: #d4edda;
  color: #155724;
}

/* OK button styling in modal */
.modal-content button {
  margin-top: 0.625rem;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  font-family: 'Special Elite', serif;
  font-size: 1.225rem;
  color: #155724;
  background-color: #fff;
  border: 0.125rem solid #155724;
  border-radius: 0.5rem;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #155724;
  color: #fff;
}

/*highlight duplicate first row*/
.highlight{
  background-color: #dc143c;
} 

/* style the text of flavors column*/
.flavorClass {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}


