.forevermore, .eventually, .tomorrow {
    stroke: rgb(136, 155, 28);
    stroke-width: 0.3rem;
    fill: none;
}

.all_pasts, .some_past, .yesterday {
    fill:rgba(169, 89, 14, 0.505);
}
/* svg {
    width: 10rem;
} */
svg {
    margin: 0 0.05rem;
    width: 1rem;
    height: 1rem;
}