#player {
    position: absolute;
    width: 4.9%;
    height: 10.4%;
    background-image: url(sheet.svg) ;
    background-size: 2400%;
}
#stage {
    position: absolute;
    width: 100%;
    height: 100%;

}
html{
    font-size: 10px;
}