#player {
    position: absolute;
    width: 5.65%;
    height: 12%;
    background-image: url(sheet.svg) ;
    background-size: 2300%;
    background-position: 9% 33%;
}
#stage {
    position: absolute;
    width: 100%;
    height: 100%;

}
html{
    font-size: 10px;
}