@import url(https://fonts.googleapis.com/css?family=Raleway);

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body{
  background:var(--second);
  color:var(--fifth);
  /* padding: 1rem 1rem; */
}

@keyframes animateWrong {
  0% {
      background-color: var(--wrong);
      transform: scale(1);
  }

  50% {
      background-color: var(--wrong);
      transform: scale(1.1);
  }

  100% {
      background-color: var(--wrong);
      transform: scale(1);
  }

}

.animateWrong {
  animation: 0.5s forwards alternate animateWrong;
}


@keyframes animateRight {
  0% {
      background-color: var(--right);
      transform: scale(1);
  }

  50% {
      background-color: var(--right);
      transform: scale(1.1);
  }

  100% {
      background-color: var(--right);
      transform: scale(1);
  }

}

.animateRight {
  animation: 0.5s forwards alternate animateRight;
}

body, select{
  font-family: "JetBrains Mono", monospace;
  font-weight: 600;
  
}
:root {
  --first:#173803;
  --second:#416100;
  --third:#709a08;
  --fourth:#83c702;
  --fifth:#bce000;
  --fifth:#e7ed7fbe;
  --wrong: #ba4646;
  --right: #78b900;
}

#title,#score-container, .definition{

  padding:.2rem;
  background-color:var(--first);
  border-radius: 0.2em;
}

#title {
  margin-bottom: 0.5em;
  text-align: center;
  /* width: 80%; */
}
.list-choice{
  width:300px;
  margin:1em auto;
  position: relative;
  cursor: pointer;  
}
.list-choice input[type="radio"]{
  position:absolute;
  left:-9999px;
}

.list-choice-title {
width: 100%;
display: block;

text-align: center;
padding: 0.55em 1em;
box-sizing: border-box;
color: var(--fifth);
text-shadow: 0 1px 0 #CACACA;
border-radius: 0.2em;
}


.list-choice-objects {
position: absolute;
top: 0;
padding-top: 2.1em;
box-sizing: border-box;
width: 100%;
overflow: hidden;
max-height: 0;
transition: all 250ms ease;
}

#score-container{
  /* width: 80%; */
  height: 10%;
  font-size: 0.5rem;
  margin-bottom: 0.5em;
}

#score-container div{
  width: 20%;
  text-align:left;
  display: inline-block;
  text-wrap: nowrap;
}

#par {
  margin-right:50%;
}


.list-choice:hover .list-choice-objects {
max-height: 540px;
}

#message {
  font-size: 1rem;
  width: 100%;
}

#history {
  /* letter-spacing: 1.5rem; */ 
  width: 78%;
  background-color: var(--third);
  padding-left: 0.5em;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.flex-item {
  flex: 1;
  padding:1rem;
  text-align:center;
}

#next {
  display: none;
}

#par {
  /* right: 100%; */
}


.screen {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.body {
  display: flex;
  flex-direction: row;
}

.title {
  display: inline-block;
  margin-left: 50%;
}
select {
  appearance: none;
  border: 0px none;
  overflow-y: auto;
  height: 5%;
  font-size: 1rem;
  background-color: var(--third);
}

#picker {
  width: 78%;
  padding-left: 0.5em;
  background-color: var(--third);
}

.hover {
  display: inline-block;
  background-color: var(--third);
  width: 100%;
}

.hover > div {
  display: inline-block;
}

.definition {
  font-family: 'Raleway', sans-serif;
  font-size: 0.35rem;
  width: 30%;
  position: absolute;
  /* background-color: purple; */
  letter-spacing: normal;
}

/* option {
  font-size: 1rem;
} */

/*   Open state of the dialog  */
dialog[open] {
  opacity: 1;
  transform: scaleY(1);
}

/*   Closed state of the dialog   */
dialog {
  opacity: 0;
  transform: scaleY(0);
  transition:
    opacity 0.7s ease-out,
    transform 0.7s ease-out,
    overlay 0.7s ease-out allow-discrete,
    display 0.7s ease-out allow-discrete;
  /* Equivalent to
  transition: all 0.7s allow-discrete; */
  position: absolute;
  left: -5%;
  top: 55%;
  width: 15em;
}

/*   Before-open state  */
/* Needs to be after the previous dialog[open] rule to take effect,
    as the specificity is the same */
@starting-style {
  dialog[open] {
    opacity: 0;
    transform: scaleY(0);
  }
}

/* Transition the :backdrop when the dialog modal is promoted to the top layer */
dialog::backdrop {
  background-color: rgb(0 0 0 / 0%);
  transition:
    display 0.7s allow-discrete,
    overlay 0.7s allow-discrete,
    background-color 0.7s;
  /* Equivalent to
  transition: all 0.7s allow-discrete; */
}

dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 25%);
}

/* This starting-style rule cannot be nested inside the above selector
because the nesting selector cannot represent pseudo-elements. */

@starting-style {
  dialog[open]::backdrop {
    background-color: rgb(0 0 0 / 0%);
  }
}

.levels {
  border: 0.1em solid var(--fourth);
  overflow-y: auto;
  /* padding: 0.5em; */
  margin: 0.25em 0.5em;
  height: 20em;

}

.levels-title{
  padding: 0.25em;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--third);
  text-align: center;
}

.levels > button:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  padding: 0.7em;
}

.levels > button {
  font-size: 0.5rem;
  display: block;
  padding: 0.5em 0.5em;
  width: 100%;
  background-color: var(--second);
  border: transparent;
  border-radius: 0.1em;
  color: var(--fifth);
  margin: 0.3em 0em;
}

.levels p {
  margin: 0;
  padding-bottom: 0.25em;
}

.levels::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.game-area {
  margin: 0.25em 0.1em;
  height: 100%;
  width: 100%;
}

.header {
  width: 80%;;
}

.tooltip{
  font-size: 0.4rem;
  color: black;
}

#tourButton {
  display: inline-block;
  margin-left: 3em;
}

#tourButton > img {
  width: 0.8rem;
  height: 0.8rem;
}